/data_assign
/data_full
/gui_outputs
/out_metrics
/outputs
/outputs_changed_junction
/outputs_probe
/images

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
